<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-4">
      <div class="row block">
        <ul>
          <li>
            <h3>Welcome to Townify!</h3>
          </li>
          <li>This website is designed to bring communities together by removing real currency value from time and
            objects by
            implementing a barter and trade system.</li>
          <li>Please read the rules and <a href="/createAccount">create an account</a> prior to using the site, thanks!
          </li>
        </ul>
      </div>
      <div class="row block">
        <ul>
          <li>
            <h3>Catagories</h3>
          </li>
          <li>Catagory One</li>
          <li>Catagory Two</li>
          <li>Catagory Three</li>
          <li>Catagory Four</li>
          <li>Catagory Five</li>
        </ul>
      </div>
    </div>
    <div class="col-5 block">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>
  </div>
</div>