<form class="container mt-3">
  <fieldset>
    <legend>Leaflet</legend>
    <div class="form-group">
      <label for="inputTitle"></label>
      <input type="text" class="form-control" id="inputTitle" placeholder="Title">
    </div>
    <div id="cateogry" class="form-group">
      <label for="select1">Choose a category:</label>
      <select class="form-control" id="Select1">
        <option>Personal Services</option>
        <option>Marketing and Sales</option>
        <option>Home Services</option>
        <option>Computer and Technology</option>
        <option>Children Services</option>
        <option>Event Services</option>
      </select>
    </div>
    <div class="form-group">
      <label id="leaflet" for="textarea">Your Leaflet</label>
      <textarea class="form-control" id="Textarea" rows="3"></textarea>
      <br>
      <br>
      <a id ="submit" class="btn btn-primary">Submit</a>
    </div>
  </fieldset>
</form>
<script src="/js/makePost.js"></script>